.discover-bottom-img::before {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://androthemes.com/themes/html/nycondos/assets/img/bg/03.jpg),
    linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 1) 0%,
      /* top-left fully white */ rgba(255, 255, 255, 1) 60%,
      /* bottom-left and top-right fully white */ rgba(255, 255, 255, 0.8) 90%,
      /* near the bottom-right slight opacity */ rgba(255, 255, 255, 0.5) 100%
        /* bottom-right more transparent */
    );
  background-blend-mode: overlay;
  content: "";
  background-size: cover;
  background-position: center;
  z-index: -10;
}
